<hgroup>
  <h2>Stock Not Found</h2>
  <p>Please try another search</p>
</hgroup>

<article>
  <blockquote>
    "You are not regarded as lost until you realize you're lost!"
    <footer>
      <cite>- Mehmet Murat ildan</cite>
    </footer>
  </blockquote>
</article>
