<h3>Settings</h3>

<form>
  <div class="grid">
    <fieldset>
      <label for="switch">
        <input type="checkbox" id="switch" name="switch" role="switch">
        Dark mode
      </label>
    </fieldset>
  </div>
</form>
